<template>
    <div>
        <div v-if="id != null">
            current id is {{ id }}
        </div>
        TODO:
        <ul>
            <li>
                &#x2611; backend: betöltő tool esz nélkül (hagyományos csv)
                <ul>
                    <li>&#x2611; model+migration: versions</li>
                    <li>&#x2611; model+migration: corpora</li>
                    <li>
                        &#x2611; command: load_text
                        <ul>
                            <li>&#x2611; read from file</li>
                            <li>&#x2611; validate columns (smart fitting: isThereSubverse, -References, -MoreRefs</li>
                            <li>&#x2611; (foreach) validate values (composite key)</li>
                            <li>&#x2611; (foreach) build model</li>
                            <li>&#x2611; (foreach) persist model</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>api: biblialistázó</li>
            <li>
                bibtree
                <ul>
                    <li>dinamikus fa</li>
                    <li>add reference gomb</li>
                </ul>
            </li>
            <li>api: fitscript edit</li>
            <li>
                bibinfo
                <ul>
                    <li>add reference funkcionalitás</li>
                </ul>
            </li>
        </ul>
    </div>
</template>

<script>
    import { EventBus } from '../eventbus.js';

    export default {
        data() {
            return {
                id: null
            };
        },
        methods: {
            LoadData(id) {
                this.id = id;
            }
        },
        mounted() {
            EventBus.$on('selected', this.LoadData);
        }
    }
</script>
