<template>
        <li :class="{ referenceNode: isRoot }">
            <span :class="{ selected: isSelected }" @click="Select()">{{ label }}</span>
            <ul v-if="IsThereChildren()">
                <bib-node v-for="child in children" v-bind="child" :key="child.id"></bib-node>
            </ul>
        </li>
</template>

<script>
    import { EventBus } from '../eventbus.js';

    export default {
        props: {
            'id': Number,
            'label': String,
            'children': Array,
            'isRoot': { type: Boolean, default: false }
        },
        name: 'bib-node',
        data() {
            return {
                isSelected: false
            };
        },
        methods: {
            IsThereChildren() {
                var result = this.children != null
                    && typeof this.children == 'object'
                    && Object.keys(this.children).length > 0
                    ;
                return result;
            },
            Select() {
                if (!this.isSelected) {
                    EventBus.$emit('selected', this.id);
                    EventBus.$on('selected', this.Deselect);
                    this.isSelected = true;
                }
            },
            Deselect(id) {
                if (this.id != id) {
                    this.isSelected = false;
                    EventBus.$off('selected', this.Deselect);
                }
            }
        },
        created() {
            if (typeof this.isSelected == 'undefined') {
                this.isSelected = false;
            }
        }
    };
</script>
