<template>
    <div>
        <div id="bib-tree-container">
            <ul v-if="IsThereData" class="nodes-container">
                <bib-node v-bind="bibTreeData" isRoot></bib-node>
            </ul>
            <div v-else>No data.</div>
        </div>
    </div>
</template>

<style>
    #bib-tree-container {
        flex: 1;
        overflow-y: auto;
        padding: 1rem;
    }

    ul {
        margin-left: 20px;
        padding-left: 0;
    }
    ul.nodes-container {
        margin: 0;
        padding-left: 0;
    }

    li {
        list-style-type: none;
        position: relative;
        margin-top: 0.3rem;
    }
    li:before, li:after {
        content: "";
        position: absolute;
        left: -0.5rem;
        width: 0.5rem;
    }
    li:before {
        top: -0.3rem;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        height: 1rem;
    }
    li:after {
        top: 0;
        height: 100%;
        border-left: 1px solid black;
    }
    li:last-child:after {
        display: none;
    }

    li > span {
        cursor: pointer;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: black;
        text-transform: uppercase;
    }

    li.referenceNode:before {
        display: none;
    }
    li.referenceNode > span {
        background: lightgreen;
    }

    .selected {
        border: 2px dotted black;
        font-weight: bold;
    }
</style>

<script>
    import BibNode from "./BibNode";

    export default {
        components: {
            BibNode
        },
        data() {
            return {
                bibTreeData: null
            };
        },
        computed: {
            IsThereData() {
                var result = this.bibTreeData != null
                    && typeof this.bibTreeData == 'object'
                    && Object.keys(this.bibTreeData).length > 0
                    ;
                return result;
            }
        },
        methods: {
            LoadData() {
                this.bibTreeData = {
                    id: 0,
                    label: 'rúf',
                    children: [
                        {
                            id: 1,
                            label: 'úf',
                            children: [
                                {
                                    id: 6,
                                    label: 'na27'
                                }
                            ]
                        },
                        {
                            id: 2,
                            label: 'kár1908',
                            children: [
                                {
                                    id: 3,
                                    label: 'kár1805'
                                },
                                {
                                    id: 4,
                                    label: 'bhs'
                                },
                                {
                                    id: 5,
                                    label: 'lxx'
                                }
                            ]
                        }
                    ]
                };
            }
        },
        mounted() {
            this.LoadData();
        }
    }
</script>
